:root {
    --amazing-color--: #FED136;
    --gtext-font: 'Montserrat', sans-serif;
    --slab-font: 'Roboto Slab', serif;
    --gtextb-font: 'Montserrat', sans-serif;

}

header {
    display: flex;
    width: 933px;
    margin-left: auto;
    margin-right: auto;
}


.container {
    width: 934px;
    margin: 0 auto;

}





.logo-link {
    display: block;
    margin-right: auto;
    margin-top: 26px;
}

.h1 {
    font-family: var(--gtextb-font);
    text-transform: uppercase;
    text-align: center;


}


.list {
    list-style: none;
    color: var(--amazing-color--);
    text-transform: uppercase;
    font-family: var(--gtext-font);
    font-size: 14px;
    line-height: 41px;
    display: flex;


}

.list-item {
    margin: 10px;
}



.services-type {
    list-style: none;
    width: 274px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.services-list {
    display: flex;

}



.pharograph {
    text-align: center;
}

.bg-first {
    background-color: #222222;
    padding-top: 92px;
    padding-bottom: 115px;
}

.item-title {
    text-align: center;
}



.item-logo {
    margin: 0 auto;
    display: block;
}
.img-wrap {
    height: 70px;
    width: 70px;
    border: 4px solid var(--amazing-color--);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headtxt {
    color: #FFFFFF;
    font-size: 40px;
    font-family: var(--gtext-font);
    font-weight: 700;        
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 116px;
}
.ancfirst {
    width: 455px;
    height: 50px;
    display: block;
    margin-bottom: 28px;
}
.ancsecond {
    width: 450px;
    height: 212px;
}
.formdraft {
    display: flex;
    justify-content: space-between;
    
}